USE [master]
GO
/****** Object:  Database [QL_SHOPTHOITRANG]    Script Date: 7/25/2021 10:15:21 PM ******/
CREATE DATABASE [QL_SHOPTHOITRANG]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_SHOPTHOITRANG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_SHOPTHOITRANG]
GO
/****** Object:  Table [dbo].[CHAMCONG]    Script Date: 7/25/2021 10:15:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHAMCONG](
	[TENDN] [varchar](32) NOT NULL,
	[NGAYCHAMCONG] [date] NOT NULL,
 CONSTRAINT [PK_CHAMCONG] PRIMARY KEY CLUSTERED 
(
	[TENDN] ASC,
	[NGAYCHAMCONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHATLIEU]    Script Date: 7/25/2021 10:15:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHATLIEU](
	[MACHATLIEU] [varchar](10) NOT NULL,
	[TENCHATLIEU] [nvarchar](100) NULL,
	[Diem] [decimal](18, 0) NULL,
 CONSTRAINT [PK_CHATLIEU] PRIMARY KEY CLUSTERED 
(
	[MACHATLIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETDATHANG]    Script Date: 7/25/2021 10:15:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDATHANG](
	[MADATHANG] [varchar](10) NOT NULL,
	[MASANPHAM] [varchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [money] NULL,
 CONSTRAINT [PK_CHITIETDATHANG] PRIMARY KEY CLUSTERED 
(
	[MADATHANG] ASC,
	[MASANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETDONHANG]    Script Date: 7/25/2021 10:15:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDONHANG](
	[MADONHANG] [varchar](10) NOT NULL,
	[MASANPHAM] [varchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [money] NULL,
 CONSTRAINT [PK_CHITIETDONHANG] PRIMARY KEY CLUSTERED 
(
	[MADONHANG] ASC,
	[MASANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETNHAPHANG]    Script Date: 7/25/2021 10:15:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETNHAPHANG](
	[MACHITIETNHAPHANG] [varchar](10) NOT NULL,
	[MANHAPHANG] [varchar](10) NULL,
	[MASP] [varchar](10) NULL,
	[SOLUONG] [int] NULL,
	[GIANHAP] [money] NULL,
 CONSTRAINT [PK_CHITIETNHAPHANG] PRIMARY KEY CLUSTERED 
(
	[MACHITIETNHAPHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DATHANG]    Script Date: 7/25/2021 10:15:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATHANG](
	[MADATHANG] [varchar](10) NOT NULL,
	[TENDN] [varchar](32) NULL,
	[THANHTIEN] [money] NULL,
	[THANHTOAN] [bit] NULL,
	[DIACHIGIAOHANG] [nvarchar](100) NULL,
	[NGAYTAO] [date] NULL,
	[TENNGUOINHAN] [nvarchar](100) NULL,
	[SDTNHAN] [char](11) NULL,
	[EMAIL] [nvarchar](100) NULL,
 CONSTRAINT [PK_DATHANG] PRIMARY KEY CLUSTERED 
(
	[MADATHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONHANG]    Script Date: 7/25/2021 10:15:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONHANG](
	[MADONHANG] [varchar](10) NOT NULL,
	[TONGGIATRI] [money] NULL,
	[TENDN] [varchar](32) NULL,
	[THANHTOAN] [bit] NULL,
	[NGAYLAP] [date] NULL,
 CONSTRAINT [PK_DONHANG] PRIMARY KEY CLUSTERED 
(
	[MADONHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIOHANG]    Script Date: 7/25/2021 10:15:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIOHANG](
	[MAGH] [varchar](10) NOT NULL,
	[TENDN] [varchar](32) NULL,
	[MASP] [varchar](10) NULL,
	[SOLUONGSP] [int] NULL,
	[THANHTOAN] [bit] NULL,
 CONSTRAINT [PK_GIOHANG] PRIMARY KEY CLUSTERED 
(
	[MAGH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAISANPHAM]    Script Date: 7/25/2021 10:15:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISANPHAM](
	[MALOAISP] [varchar](10) NOT NULL,
	[TENLOAISP] [nvarchar](100) NULL,
	[Diem] [decimal](18, 0) NULL,
 CONSTRAINT [PK_LOAISANPHAM] PRIMARY KEY CLUSTERED 
(
	[MALOAISP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MANHINH]    Script Date: 7/25/2021 10:15:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MANHINH](
	[MAMANHINH] [varchar](10) NOT NULL,
	[TENMANHINH] [nvarchar](100) NULL,
 CONSTRAINT [PK_MANHINH] PRIMARY KEY CLUSTERED 
(
	[MAMANHINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 7/25/2021 10:15:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[TENDN] [varchar](32) NOT NULL,
	[MATKHAU] [varchar](32) NULL,
	[TENNGUOIDUNG] [nvarchar](100) NULL,
	[EMAIL] [varchar](100) NULL,
	[GIOITINH] [nvarchar](4) NULL,
	[SDT] [char](11) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[CMND] [char](13) NULL,
	[TRANGTHAI] [bit] NULL,
	[AVATAR] [nvarchar](100) NULL,
 CONSTRAINT [PK_NGUOIDUNG] PRIMARY KEY CLUSTERED 
(
	[TENDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOIDUNG_NHOMNGUOIDUNG]    Script Date: 7/25/2021 10:15:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNG_NHOMNGUOIDUNG](
	[TENDN] [varchar](32) NOT NULL,
	[MANHOMNGUOIDUNG] [varchar](10) NOT NULL,
	[GHICHU] [nvarchar](100) NULL,
 CONSTRAINT [PK_NGUOIDUNGMANHOMNGUOIDUNG] PRIMARY KEY CLUSTERED 
(
	[TENDN] ASC,
	[MANHOMNGUOIDUNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 7/25/2021 10:15:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [varchar](10) NOT NULL,
	[TENNCC] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SDT] [char](11) NULL,
	[Diem] [decimal](18, 0) NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAPHANG]    Script Date: 7/25/2021 10:15:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAPHANG](
	[MANHAPHANG] [varchar](10) NOT NULL,
	[TONGCHIPHI] [money] NULL,
	[NGAYNHAP] [date] NULL,
	[MANCC] [varchar](10) NULL,
	[THANHTOAN] [bit] NULL,
 CONSTRAINT [PK_NHAPHANG] PRIMARY KEY CLUSTERED 
(
	[MANHAPHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHASANXUAT]    Script Date: 7/25/2021 10:15:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHASANXUAT](
	[MANSX] [varchar](10) NOT NULL,
	[TENNSX] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SDT] [char](11) NULL,
	[Diem] [decimal](18, 0) NULL,
 CONSTRAINT [PK_NHASANXUAT] PRIMARY KEY CLUSTERED 
(
	[MANSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHOMNGUOIDUNG]    Script Date: 7/25/2021 10:15:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOMNGUOIDUNG](
	[MANHOMNGUOIDUNG] [varchar](10) NOT NULL,
	[TENNHOMNGUOIDUNG] [nvarchar](100) NULL,
 CONSTRAINT [PK_NHOMNGUOIDUNG] PRIMARY KEY CLUSTERED 
(
	[MANHOMNGUOIDUNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 7/25/2021 10:15:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANQUYEN](
	[MANHOMNGUOIDUNG] [varchar](10) NOT NULL,
	[MAMANHINH] [varchar](10) NOT NULL,
	[COQUYEN] [bit] NULL,
 CONSTRAINT [PK_PHANQUYEN] PRIMARY KEY CLUSTERED 
(
	[MANHOMNGUOIDUNG] ASC,
	[MAMANHINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 7/25/2021 10:15:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASANPHAM] [varchar](10) NOT NULL,
	[TENSANPHAM] [nvarchar](100) NULL,
	[GIATRI] [money] NULL,
	[SOLUONGTON] [int] NULL,
	[HINHANH] [nvarchar](100) NULL,
	[MALOAISP] [varchar](10) NULL,
	[MACHATLIEU] [varchar](10) NULL,
	[MANSX] [varchar](10) NULL,
	[MANCC] [varchar](10) NULL,
	[KHUYENMAI] [money] NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MASANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHATLIEU] ([MACHATLIEU], [TENCHATLIEU], [Diem]) VALUES (N'CL001', N'CHẤT COTTON', CAST(1 AS Decimal(18, 0)))
INSERT [dbo].[CHATLIEU] ([MACHATLIEU], [TENCHATLIEU], [Diem]) VALUES (N'CL002', N'CHẤT TICI ', CAST(2 AS Decimal(18, 0)))
INSERT [dbo].[CHATLIEU] ([MACHATLIEU], [TENCHATLIEU], [Diem]) VALUES (N'CL003', N'CHẤT NỈ BÔNG', CAST(3 AS Decimal(18, 0)))
GO
INSERT [dbo].[CHITIETDATHANG] ([MADATHANG], [MASANPHAM], [SOLUONG], [DONGIA]) VALUES (N'DH000', N'SP108', 3, 420000.0000)
INSERT [dbo].[CHITIETDATHANG] ([MADATHANG], [MASANPHAM], [SOLUONG], [DONGIA]) VALUES (N'DH000', N'SP112', 3, 420000.0000)
INSERT [dbo].[CHITIETDATHANG] ([MADATHANG], [MASANPHAM], [SOLUONG], [DONGIA]) VALUES (N'DH005', N'SP108', 3, 420000.0000)
GO
INSERT [dbo].[CHITIETDONHANG] ([MADONHANG], [MASANPHAM], [SOLUONG], [DONGIA]) VALUES (N'DH000', N'SP001', 3, 220000.0000)
INSERT [dbo].[CHITIETDONHANG] ([MADONHANG], [MASANPHAM], [SOLUONG], [DONGIA]) VALUES (N'DH001', N'SP001', 1, 220000.0000)
INSERT [dbo].[CHITIETDONHANG] ([MADONHANG], [MASANPHAM], [SOLUONG], [DONGIA]) VALUES (N'DH002', N'SP009', 4, 320000.0000)
GO
INSERT [dbo].[CHITIETNHAPHANG] ([MACHITIETNHAPHANG], [MANHAPHANG], [MASP], [SOLUONG], [GIANHAP]) VALUES (N'CTNH000', N'MNH006', N'SP005', 1, 320000.0000)
INSERT [dbo].[CHITIETNHAPHANG] ([MACHITIETNHAPHANG], [MANHAPHANG], [MASP], [SOLUONG], [GIANHAP]) VALUES (N'CTNH001', N'MNH010', N'SP001', 1, 320000.0000)
INSERT [dbo].[CHITIETNHAPHANG] ([MACHITIETNHAPHANG], [MANHAPHANG], [MASP], [SOLUONG], [GIANHAP]) VALUES (N'CTNH002', N'MNH009', N'SP001', 1, 320000.0000)
GO
INSERT [dbo].[DATHANG] ([MADATHANG], [TENDN], [THANHTIEN], [THANHTOAN], [DIACHIGIAOHANG], [NGAYTAO], [TENNGUOINHAN], [SDTNHAN], [EMAIL]) VALUES (N'DH000', N'tuyvanvu', 2520000.0000, 0, N'145 TÂY THẠNH, P.TÂY THẠNH , TÂN PHÚ, TP.HCM', CAST(N'2021-07-25' AS Date), N'VŨ VĂN TUY', N'0706834211 ', N'tuy@gmail.com')
INSERT [dbo].[DATHANG] ([MADATHANG], [TENDN], [THANHTIEN], [THANHTOAN], [DIACHIGIAOHANG], [NGAYTAO], [TENNGUOINHAN], [SDTNHAN], [EMAIL]) VALUES (N'DH005', N'tuyvanvu', 3360000.0000, 1, N'145 TÂY THẠNH, P.TÂY THẠNH , TÂN PHÚ, TP.HCM', CAST(N'2021-07-19' AS Date), N'VŨ VĂN TUY', N'0706834211 ', N'tuy@gmail.com')
GO
INSERT [dbo].[DONHANG] ([MADONHANG], [TONGGIATRI], [TENDN], [THANHTOAN], [NGAYLAP]) VALUES (N'DH000', 594000.0000, N'khach', 1, CAST(N'2021-07-25' AS Date))
INSERT [dbo].[DONHANG] ([MADONHANG], [TONGGIATRI], [TENDN], [THANHTOAN], [NGAYLAP]) VALUES (N'DH001', 198000.0000, NULL, 1, NULL)
INSERT [dbo].[DONHANG] ([MADONHANG], [TONGGIATRI], [TENDN], [THANHTOAN], [NGAYLAP]) VALUES (N'DH002', 1152000.0000, N'khach', 1, CAST(N'2021-07-25' AS Date))
GO
INSERT [dbo].[GIOHANG] ([MAGH], [TENDN], [MASP], [SOLUONGSP], [THANHTOAN]) VALUES (N'GH001', N'tuyvanvu', N'SP112', 3, 0)
INSERT [dbo].[GIOHANG] ([MAGH], [TENDN], [MASP], [SOLUONGSP], [THANHTOAN]) VALUES (N'GH002', N'admin', N'SP115', 3, 0)
INSERT [dbo].[GIOHANG] ([MAGH], [TENDN], [MASP], [SOLUONGSP], [THANHTOAN]) VALUES (N'GH003', N'tuyvanvu', N'SP108', 3, 0)
GO
INSERT [dbo].[LOAISANPHAM] ([MALOAISP], [TENLOAISP], [Diem]) VALUES (N'LSP001', N'ÁO THUN', CAST(1 AS Decimal(18, 0)))
INSERT [dbo].[LOAISANPHAM] ([MALOAISP], [TENLOAISP], [Diem]) VALUES (N'LSP002', N'PHỤ KIỆN', CAST(2 AS Decimal(18, 0)))
INSERT [dbo].[LOAISANPHAM] ([MALOAISP], [TENLOAISP], [Diem]) VALUES (N'LSP003', N'QUẦN', CAST(3 AS Decimal(18, 0)))
GO
INSERT [dbo].[MANHINH] ([MAMANHINH], [TENMANHINH]) VALUES (N'SF001', N'Bán Hàng')
INSERT [dbo].[MANHINH] ([MAMANHINH], [TENMANHINH]) VALUES (N'SF002', N'Quản Lý Nhân Viên')
INSERT [dbo].[MANHINH] ([MAMANHINH], [TENMANHINH]) VALUES (N'SF003', N'Quản Lý Đơn Hàng')
GO
INSERT [dbo].[NGUOIDUNG] ([TENDN], [MATKHAU], [TENNGUOIDUNG], [EMAIL], [GIOITINH], [SDT], [DIACHI], [CMND], [TRANGTHAI], [AVATAR]) VALUES (N'admin', N'123456', N'VŨ VĂN TUY', N'admin@gmail.com', N'Nam', N'0706834211 ', N'145 TÂY THẠNH, P.TÂY THẠNH , TÂN PHÚ, TP.HCM', N'321511577    ', 1, N'avatar_nam.jpg')
INSERT [dbo].[NGUOIDUNG] ([TENDN], [MATKHAU], [TENNGUOIDUNG], [EMAIL], [GIOITINH], [SDT], [DIACHI], [CMND], [TRANGTHAI], [AVATAR]) VALUES (N'khach', N'123456', N'VŨ VĂN TUY', N'khach@gmail.com', N'Nam', N'0706834211 ', N'145 TÂY THẠNH, P.TÂY THẠNH , TÂN PHÚ, TP.HCM', N'321511577    ', 1, N'avatar_nam.jpg')
INSERT [dbo].[NGUOIDUNG] ([TENDN], [MATKHAU], [TENNGUOIDUNG], [EMAIL], [GIOITINH], [SDT], [DIACHI], [CMND], [TRANGTHAI], [AVATAR]) VALUES (N'khach2', N'123456', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[NGUOIDUNG_NHOMNGUOIDUNG] ([TENDN], [MANHOMNGUOIDUNG], [GHICHU]) VALUES (N'admin', N'QL', N'')
INSERT [dbo].[NGUOIDUNG_NHOMNGUOIDUNG] ([TENDN], [MANHOMNGUOIDUNG], [GHICHU]) VALUES (N'khach', N'KH', N'')
INSERT [dbo].[NGUOIDUNG_NHOMNGUOIDUNG] ([TENDN], [MANHOMNGUOIDUNG], [GHICHU]) VALUES (N'khach2', N'KH', N'')
GO
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SDT], [Diem]) VALUES (N'NCC001', N'CÔNG TY TNHH BẢO NGUYỆT SAFETY', N'52/41/10B ĐƯƠNG SỐ 8 , P.BÌNH HƯNG HÒA A,Q.BÌNH TÂN, TP.HCM', N'0937542514 ', CAST(1 AS Decimal(18, 0)))
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SDT], [Diem]) VALUES (N'NCC002', N'CÔNG TY TNHH UNI-PRO VIỆT NAM', N'205/1A HOÀNG VĂN THỤ, P.8, PHÚ NHUẬN, TP.HCM', N'0969769968 ', CAST(2 AS Decimal(18, 0)))
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SDT], [Diem]) VALUES (N'NCC003', N'CÔNG TY TNHH  SẢN XUẤT THƯƠNG MẠI DIỆU KHANG', N'453/70/13/28 LÊ VĂN KHƯƠNG ,P.HIỆP THÀNH,Q.12, TP.HCM', N'0937542514 ', CAST(3 AS Decimal(18, 0)))
GO
INSERT [dbo].[NHAPHANG] ([MANHAPHANG], [TONGCHIPHI], [NGAYNHAP], [MANCC], [THANHTOAN]) VALUES (N'MNH000', NULL, NULL, NULL, NULL)
INSERT [dbo].[NHAPHANG] ([MANHAPHANG], [TONGCHIPHI], [NGAYNHAP], [MANCC], [THANHTOAN]) VALUES (N'MNH001', NULL, NULL, NULL, NULL)
INSERT [dbo].[NHAPHANG] ([MANHAPHANG], [TONGCHIPHI], [NGAYNHAP], [MANCC], [THANHTOAN]) VALUES (N'MNH002', NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[NHASANXUAT] ([MANSX], [TENNSX], [DIACHI], [SDT], [Diem]) VALUES (N'NSX001', N'CÔNG TY MAY MẶC DONY', N'355/23 KÊNH TÂN HÓA, P12, Q.TÂN PHÚ,TP.HCM', N'19009449   ', CAST(1 AS Decimal(18, 0)))
INSERT [dbo].[NHASANXUAT] ([MANSX], [TENNSX], [DIACHI], [SDT], [Diem]) VALUES (N'NSX002', N'CÔNG TY TNHH TT GLOBAL', N'431A HOÀNG VĂN THỤ,P.4,Q.TÂN BÌNH,TP.HCM', N'0988866306 ', CAST(2 AS Decimal(18, 0)))
INSERT [dbo].[NHASANXUAT] ([MANSX], [TENNSX], [DIACHI], [SDT], [Diem]) VALUES (N'NSX003', N'CÔNG TY MAY THUẬN HẢI', N'7 ĐƯỜNG 24,LINH ĐÔNG, THỦ ĐỨC,TP.HCM', N'0976845374 ', CAST(3 AS Decimal(18, 0)))
GO
INSERT [dbo].[NHOMNGUOIDUNG] ([MANHOMNGUOIDUNG], [TENNHOMNGUOIDUNG]) VALUES (N'KH', N'KHÁCH HÀNG')
INSERT [dbo].[NHOMNGUOIDUNG] ([MANHOMNGUOIDUNG], [TENNHOMNGUOIDUNG]) VALUES (N'NV', N'NHÂN VIÊN')
INSERT [dbo].[NHOMNGUOIDUNG] ([MANHOMNGUOIDUNG], [TENNHOMNGUOIDUNG]) VALUES (N'QL', N'QUẢN LÝ')
GO
INSERT [dbo].[PHANQUYEN] ([MANHOMNGUOIDUNG], [MAMANHINH], [COQUYEN]) VALUES (N'KH', N'SF001', 0)
INSERT [dbo].[PHANQUYEN] ([MANHOMNGUOIDUNG], [MAMANHINH], [COQUYEN]) VALUES (N'KH', N'SF002', 0)
INSERT [dbo].[PHANQUYEN] ([MANHOMNGUOIDUNG], [MAMANHINH], [COQUYEN]) VALUES (N'KH', N'SF003', 0)
GO
INSERT [dbo].[SANPHAM] ([MASANPHAM], [TENSANPHAM], [GIATRI], [SOLUONGTON], [HINHANH], [MALOAISP], [MACHATLIEU], [MANSX], [MANCC], [KHUYENMAI]) VALUES (N'SP001', N'ÁO LOANG NÂU', 320000.0000, 97, N'Ao1.jpg', N'LSP001', N'CL001', N'NSX001', N'NCC001', 100000.0000)
INSERT [dbo].[SANPHAM] ([MASANPHAM], [TENSANPHAM], [GIATRI], [SOLUONGTON], [HINHANH], [MALOAISP], [MACHATLIEU], [MANSX], [MANCC], [KHUYENMAI]) VALUES (N'SP002', N'ÁO HÔNG XANH', 320000.0000, 74, N'Ao2.jpg', N'LSP001', N'CL002', N'NSX001', N'NCC001', 0.0000)
INSERT [dbo].[SANPHAM] ([MASANPHAM], [TENSANPHAM], [GIATRI], [SOLUONGTON], [HINHANH], [MALOAISP], [MACHATLIEU], [MANSX], [MANCC], [KHUYENMAI]) VALUES (N'SP003', N'ÁO TRẮNG CHỮ ĐỎ', 320000.0000, 1, N'Ao3.jpg', N'LSP001', N'CL001', N'NSX001', N'NCC001', 0.0000)
GO
ALTER TABLE [dbo].[DATHANG] ADD  DEFAULT ((0)) FOR [THANHTOAN]
GO
ALTER TABLE [dbo].[DONHANG] ADD  CONSTRAINT [DF_NGUOIDUNG_TENDN]  DEFAULT ('khach') FOR [TENDN]
GO
ALTER TABLE [dbo].[DONHANG] ADD  CONSTRAINT [DF_DONHANG_THANHTOAN]  DEFAULT ('FALSE') FOR [THANHTOAN]
GO
ALTER TABLE [dbo].[GIOHANG] ADD  CONSTRAINT [DF_GIOHANG_THANHTOAN]  DEFAULT ((0)) FOR [THANHTOAN]
GO
ALTER TABLE [dbo].[NHAPHANG] ADD  DEFAULT ((0)) FOR [TONGCHIPHI]
GO
ALTER TABLE [dbo].[NHAPHANG] ADD  DEFAULT ((0)) FOR [THANHTOAN]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  CONSTRAINT [DF_SANPHAM_KHUYENMAI]  DEFAULT ((0)) FOR [KHUYENMAI]
GO
ALTER TABLE [dbo].[CHAMCONG]  WITH CHECK ADD  CONSTRAINT [FK_CHAMCONG_TENDN] FOREIGN KEY([TENDN])
REFERENCES [dbo].[NGUOIDUNG] ([TENDN])
GO
ALTER TABLE [dbo].[CHAMCONG] CHECK CONSTRAINT [FK_CHAMCONG_TENDN]
GO
ALTER TABLE [dbo].[CHITIETDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDATHANG_MADATHANG] FOREIGN KEY([MADATHANG])
REFERENCES [dbo].[DATHANG] ([MADATHANG])
GO
ALTER TABLE [dbo].[CHITIETDATHANG] CHECK CONSTRAINT [FK_CHITIETDATHANG_MADATHANG]
GO
ALTER TABLE [dbo].[CHITIETDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDATHANG_MASANPHAM] FOREIGN KEY([MASANPHAM])
REFERENCES [dbo].[SANPHAM] ([MASANPHAM])
GO
ALTER TABLE [dbo].[CHITIETDATHANG] CHECK CONSTRAINT [FK_CHITIETDATHANG_MASANPHAM]
GO
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDONHANG_MADONHANG] FOREIGN KEY([MADONHANG])
REFERENCES [dbo].[DONHANG] ([MADONHANG])
GO
ALTER TABLE [dbo].[CHITIETDONHANG] CHECK CONSTRAINT [FK_CHITIETDONHANG_MADONHANG]
GO
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDONHANG_MASANPHAM] FOREIGN KEY([MASANPHAM])
REFERENCES [dbo].[SANPHAM] ([MASANPHAM])
GO
ALTER TABLE [dbo].[CHITIETDONHANG] CHECK CONSTRAINT [FK_CHITIETDONHANG_MASANPHAM]
GO
ALTER TABLE [dbo].[CHITIETNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETNHAPHANG_MANHAPHANG] FOREIGN KEY([MANHAPHANG])
REFERENCES [dbo].[NHAPHANG] ([MANHAPHANG])
GO
ALTER TABLE [dbo].[CHITIETNHAPHANG] CHECK CONSTRAINT [FK_CHITIETNHAPHANG_MANHAPHANG]
GO
ALTER TABLE [dbo].[CHITIETNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETNHAPHANG_MASP] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASANPHAM])
GO
ALTER TABLE [dbo].[CHITIETNHAPHANG] CHECK CONSTRAINT [FK_CHITIETNHAPHANG_MASP]
GO
ALTER TABLE [dbo].[DATHANG]  WITH CHECK ADD  CONSTRAINT [FK_DATHANG_TENDN] FOREIGN KEY([TENDN])
REFERENCES [dbo].[NGUOIDUNG] ([TENDN])
GO
ALTER TABLE [dbo].[DATHANG] CHECK CONSTRAINT [FK_DATHANG_TENDN]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONHANG_TENDN] FOREIGN KEY([TENDN])
REFERENCES [dbo].[NGUOIDUNG] ([TENDN])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_DONHANG_TENDN]
GO
ALTER TABLE [dbo].[GIOHANG]  WITH CHECK ADD  CONSTRAINT [FK_GIOHANG_MASP] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASANPHAM])
GO
ALTER TABLE [dbo].[GIOHANG] CHECK CONSTRAINT [FK_GIOHANG_MASP]
GO
ALTER TABLE [dbo].[GIOHANG]  WITH CHECK ADD  CONSTRAINT [FK_GIOHANG_TENDN] FOREIGN KEY([TENDN])
REFERENCES [dbo].[NGUOIDUNG] ([TENDN])
GO
ALTER TABLE [dbo].[GIOHANG] CHECK CONSTRAINT [FK_GIOHANG_TENDN]
GO
ALTER TABLE [dbo].[NGUOIDUNG_NHOMNGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_NGUOIDUNGNHOMNGUOIDUNG_MANHOMNGUOIDUNG] FOREIGN KEY([MANHOMNGUOIDUNG])
REFERENCES [dbo].[NHOMNGUOIDUNG] ([MANHOMNGUOIDUNG])
GO
ALTER TABLE [dbo].[NGUOIDUNG_NHOMNGUOIDUNG] CHECK CONSTRAINT [FK_NGUOIDUNGNHOMNGUOIDUNG_MANHOMNGUOIDUNG]
GO
ALTER TABLE [dbo].[NGUOIDUNG_NHOMNGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_NGUOIDUNGNHOMNGUOIDUNG_TENDN] FOREIGN KEY([TENDN])
REFERENCES [dbo].[NGUOIDUNG] ([TENDN])
GO
ALTER TABLE [dbo].[NGUOIDUNG_NHOMNGUOIDUNG] CHECK CONSTRAINT [FK_NGUOIDUNGNHOMNGUOIDUNG_TENDN]
GO
ALTER TABLE [dbo].[NHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_NHAPHANG_MANCC] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[NHAPHANG] CHECK CONSTRAINT [FK_NHAPHANG_MANCC]
GO
ALTER TABLE [dbo].[PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_PHANQUYEN_MAMANHINH] FOREIGN KEY([MAMANHINH])
REFERENCES [dbo].[MANHINH] ([MAMANHINH])
GO
ALTER TABLE [dbo].[PHANQUYEN] CHECK CONSTRAINT [FK_PHANQUYEN_MAMANHINH]
GO
ALTER TABLE [dbo].[PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_PHANQUYEN_MANHOMNGUOIDUNG] FOREIGN KEY([MANHOMNGUOIDUNG])
REFERENCES [dbo].[NHOMNGUOIDUNG] ([MANHOMNGUOIDUNG])
GO
ALTER TABLE [dbo].[PHANQUYEN] CHECK CONSTRAINT [FK_PHANQUYEN_MANHOMNGUOIDUNG]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_LOAISP] FOREIGN KEY([MALOAISP])
REFERENCES [dbo].[LOAISANPHAM] ([MALOAISP])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_LOAISP]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_MACHATLIEU] FOREIGN KEY([MACHATLIEU])
REFERENCES [dbo].[CHATLIEU] ([MACHATLIEU])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_MACHATLIEU]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_MANCC] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_MANCC]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_MANSX] FOREIGN KEY([MANSX])
REFERENCES [dbo].[NHASANXUAT] ([MANSX])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_MANSX]
GO
USE [master]
GO
