
@{
    ViewBag.Title = "Thanh toán thành công";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2 class="alert alert-success">
    Bạn vừa mua hàng thành công. Chúng tôi sẽ xác nhận đơn và chuyển hàng cho bạn sớm nhất có thể.
</h2>

